/* General Styles */
.feed-container {
    background-color: black;
    width: 95%;
    border: 1px solid #e1e1e1;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #000000;
  }
  
  .tab {
    cursor: pointer;
  }
  
  .tab.font-bold {
    font-weight: bold;
  }
  
  .content {
    padding: 1rem;
  }
  